{% extends "user/layout.html" %}
{% block content %}
    <div class="container">
        <h2>Главная</h2>
        <div class="row">
            <div class="col-md-4">
                <h5>Tariff</h5>
                <div class="card">
                    <div class="card-body">
                        {% if not user.subscription %}
                            No tariff
                        {% else %}
                            <h5>{{ user.subscription.tariff.name }}</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><small>price: </small>{{ user.subscription.tariff.price }}</li>
                                <li class="list-group-item"><small>start: </small>{{ user.subscription.period_start }}</li>
                                <li class="list-group-item"><small>end: </small>{{ user.subscription.period_end }}</li>
                                <li class="list-group-item"><small>adverts_count: </small>{{ user.subscription.tariff.adverts_count }}</li>
                                <li class="list-group-item"><small>status: </small>{{ user.subscription.status }}</li>
                            </ul>
                        {% endif %}
                        <br>
                        <a href="{% url 'user.tariffs' %}" class="btn btn-success" style="width: 30%; margin-left: 30%">Change</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h5>Last projects</h5>
                <div class="row">
                    {% if not user.has_projects %}
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">No projects</div>
                            </div>
                        </div>
                    {% else %}
                        {% load static %}
                        {% for project in user.projects %}
                            <div class="col-md-5">
                                <a href="{% url 'user.show_project' project_id=project.id %}" style="text-decoration: none; color: black">
                                    <div class="card" style="margin-bottom: 25px">
                                        {% if project.is_active %}
                                            <img src="{% static 'img/active.png' %}" alt="active-img" width="150"
                                                 style="margin-left: 25%">
                                        {% else %}
                                            <img src="{% static 'img/inactive.png' %}" alt="inactive-img" width="150"
                                                 style="margin-left: 25%">
                                        {% endif %}
                                        <div class="card-body">
                                            <h5>
                                                {{ project.name }}
                                            </h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
