{% extends "user/layout.html" %}
{% block content %}
    {% load static %}
    <div class="container">
        <h2>Проекты</h2>
        <br>
        <div class="d-flex" style="justify-content: space-between">
            <div class="d-flex">
                <a href="#" class="d-flex btn btn-secondary btn-sm" style="margin-right: 10px">Все проекты</a>
                <a href="#" class="d-flex btn btn-sm" style="margin-right: 10px">Завершенные</a>
                <a href="#" class="d-flex btn btn-sm">Активные</a>
            </div>

            <a href="#" class="d-flex">Проверить XML на avito</a>
        </div>
        <div class="row justify-content-center">
            {% for project in projects %}
                <div class="col-md-4">
                    <a href="{% url 'user.show_project' project_id=project.id %}" style="text-decoration: none; color: black">
                        <div class="card">
                            {% if project.is_active %}
                                <img src="{% static 'img/active.png' %}" alt="active-img" width="150" style="margin-left: 25%">
                            {% else %}
                                <img src="{% static 'img/inactive.png' %}" alt="inactive-img" width="150" style="margin-left: 25%">
                            {% endif %}

                            <div class="card-body">
                                <h5 class="card-title">{{ project.name }}</h5>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
