{% extends "admin/layout.html" %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Create Tariff</div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'admin.create_tariff' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>
                            <div class="mb-3">
                                <label for="price" class="form-label">Price</label>
                                <input type="number" class="form-control" name="price" id="price" min="0">
                            </div>
                            <div>
                                <label for="duration" class="form-label">Duration</label>
                                <input type="number" class="form-control" name="duration" id="duration" min="0">
                            </div>
                            <div>
                                <label for="adverts_count" class="form-label">Adverts count</label>
                                <input type="number" class="form-control" name="adverts_count" id="adverts_count" min="0">
                            </div>
                            <br>
                            <div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}